@import "tailwindcss";

@theme inline {
  --frame-height: --spacing(16);
  --frame-width: --spacing(28.5);
  --font-sans-display: var(--font-bebas-nue);
  --font-sans: var(--font-inter-sans);
  --projects-section-height: --spacing(23);
  --project-gap-top: --spacing(35);
  --project-height: calc(100dvh - var(--frame-height) - (var(--projects-section-height) + var(--project-gap-top)))
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */