@import "tailwindcss";

@theme inline {
  --frame-height: --spacing(14);
  --frame-width: --spacing(18);
  --font-sans-display: var(--font-bebas-nue);
  --font-sans: var(--font-inter-sans);
  --projects-section-height: --spacing(23);
  --project-gap-top: --spacing(35);
  --project-height: calc(100dvh - var(--frame-height) - (var(--projects-section-height) + var(--project-gap-top)));

  --foreground: var(--color-neutral-800);
  --foreground-display: var(--color-black);


  --animate-fade-in: fade-in ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100%;
    }
  }


}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/


body {
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--foreground-display);
}